<div class="m-5">
  <h1> Search a movie:</h1>

  <mat-form-field appearance="fill" class="mt-3 w-50">
    <mat-label>Select genre: </mat-label>
    <mat-select multiple [(value)]="genuriSelectate" (selectionChange)="selectGen()">
      <mat-option *ngFor="let option of genuriFilmOptions" [value]="option.value">{{option.view}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="ps-3 w-50">
    <mat-label>Select release year:</mat-label>
    <!--    <mat-select [(value)]="anSelectat">-->
    <!--      <mat-option *ngFor="let option of anSelectatOptions" [value]="option.value">{{option.view}}</mat-option>-->
    <!--    </mat-select>-->
    <input matInput [(ngModel)]="yearPicked" [matDatepicker]="picker"/>
    <mat-hint>YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)"></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="mt-3 w-25">
    <mat-label>Order by: </mat-label>
    <mat-select [(value)]="sortareSelectata">
      <mat-option *ngFor="let option of sortareOptions" [value]="option.value">{{option.view}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="warn" (click)="adaugaFiltreInUrlSiSchimbaRuta()">Search</button>

  <h1 class="mt-3">Result: </h1>
  <app-movie-list #listaRezultat *ngIf="listaFilmeWikiData && listaFilmeWikiData.length > 0"
                  [listaFilmeWikiData]="listaFilmeWikiData"
                  [pageSize]="12"
                  [colMd]="'col-md-3'"></app-movie-list>
</div>
