<p>video-filters works!</p>

<div class="ms-5" mt="2">
  <h1> Search a movie:</h1>

  <mat-form-field appearance="fill" class="mt-3">
    <mat-label>Select genre: </mat-label>
    <mat-select multiple [(value)]="genSelectat" (selectionChange)="selectGen()">
      <mat-option *ngFor="let option of genuriFilmOptions" [value]="option.value">{{option.view}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="mt-3">
    <mat-label>Select release year: </mat-label>
    <mat-select [(value)]="anSelectat">
      <mat-option *ngFor="let option of anSelectatOptions" [value]="option.value">{{option.view}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="mt-3">
    <mat-label>Order by: </mat-label>
    <mat-select [(value)]="sortareSelectata">
      <mat-option *ngFor="let option of sortareOptions" [value]="option.value">{{option.view}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="warn" (click)="getData()">Search</button>
</div>



<!--<app-video-list *ngIf="listaFilmeWikiData"-->
<!--                [(listaFilmeWikiData)]="listaFilmeWikiData"-->
<!--&gt;</app-video-list>-->
