<div class="m-3">
  <div class="row">
    <a (click)="setFilmSelectat(film)" [routerLink]="'/detalii-film/' + film.codWikiData"
       *ngFor="let film of listaFilme" class="col-md-3 mb-3 card-container">
      <mat-card class="h-100">
        <mat-card-header class="w-100">
          <mat-card-title>
            <mat-chip color="accent" selected>{{film.scorReview}}</mat-chip>
            <div class="float-end">
              <button mat-mini-fab color="primary" aria-label="adauga la favorite">
                <mat-icon>star</mat-icon>
              </button>
            </div>
          </mat-card-title>
          <mat-card-title>{{film.titlu}}</mat-card-title>
          <mat-card-subtitle>{{film.anAparitie}}, {{film.durata}}</mat-card-subtitle>
          <mat-card-subtitle>
            <mat-chip-list aria-label="Genuri film">
              <mat-chip *ngFor="let gen of film.genuri">{{gen}}</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="video-image" [src]=film.urlImagine [alt]="film.titlu + ' imagine'">
      </mat-card>
    </a>
  </div>

  <mat-paginator [length]="totalElements"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 25, 100]"
                 (page)="getPagina()"
                 showFirstLastButtons
                 aria-label="selecteaza pagina">
  </mat-paginator>

</div>



