
:host ::ng-deep .mat-card-header-text{
  width: 100% !important;
}

:host ::ng-deep .mat-card:hover{
  border: 1px solid darkgray;

}

.video-image{
  object-fit: cover;
  height: 300px;
}

.card-container{
  height: 500px;
}



a.card-content{
  text-decoration: none;
}


button.is-favorite{
  background-color: limegreen;
}

button.not-favorite {
  background-color: darkgray;
}
