<div class="m-3 row">
  <mat-card *ngIf="currentUser" class="utilizator-card me-5 col-md-3">
    <mat-card-header>
      <div *ngIf="currentUser.profileImageUrl" mat-card-avatar class="profile-picture"
           [ngStyle]="{'background-image': 'url(\''+currentUser.profileImageUrl+'\')' }"></div>
      <mat-card-title>{{currentUser.firstName}} {{currentUser.lastName}}</mat-card-title>
      <mat-card-subtitle>{{currentUser.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-3 pt-2 border-top">
      <div>Favorite Movies: <span class="fw-bold" *ngIf="listaFavoriteWikiData">{{listaFavoriteWikiData.length}}</span></div>
      <div>Completed: <span class="fw-bold" *ngIf="listaCompletedWikiData">{{listaCompletedWikiData.length}}</span></div>
      <div>Watching: <span class="fw-bold" *ngIf="listaWatchingWikiData">{{listaWatchingWikiData.length}}</span></div>
      <div>Plan to watch: <span class="fw-bold" *ngIf="listaPlanToWatchWikiData">{{listaPlanToWatchWikiData.length}}</span></div>
    </mat-card-content>
  </mat-card>

  <mat-card class="ms-2 col-md-8">
    <h2>Favorite Movies:</h2>
    <app-movie-list #listaFavorite *ngIf="listaFavoriteWikiData && listaFavoriteWikiData.length>0"
                    [listaFilmeWikiData]="listaFavoriteWikiData"
                    [displayType]="DISPLAY_TYPE.LIST"
                    (elementeListaChange)="getFilmeleUtilizatoruluiCurent(false, true)">
    </app-movie-list>
  </mat-card>
</div>

<mat-card class="ms-2">
  <h2>Movies By Status:</h2>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="COMPLETED">
      <app-movie-list #listaCompleted *ngIf="listaCompletedWikiData && listaCompletedWikiData.length>0"
                      [listaFilmeWikiData]="listaCompletedWikiData"
                      [displayType]="DISPLAY_TYPE.STATUS_LIST"
                      (elementeListaChange)="getFilmeleUtilizatoruluiCurent(false, true)"></app-movie-list>
    </mat-tab>
    <mat-tab label="WATCHING">
      <app-movie-list #listaWatching *ngIf="listaWatchingWikiData && listaWatchingWikiData.length>0"
                      [listaFilmeWikiData]="listaWatchingWikiData"
                      [displayType]="DISPLAY_TYPE.STATUS_LIST"
                      (elementeListaChange)="getFilmeleUtilizatoruluiCurent(false, true)"></app-movie-list>
    </mat-tab>
    <mat-tab label="PLAN TO WATCH">
      <app-movie-list #listaPlanToWatch *ngIf="listaPlanToWatchWikiData && listaPlanToWatchWikiData.length>0"
                      [listaFilmeWikiData]="listaPlanToWatchWikiData"
                      [displayType]="DISPLAY_TYPE.STATUS_LIST"
                      (elementeListaChange)="getFilmeleUtilizatoruluiCurent(false, true)"></app-movie-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>


