<div *ngIf="listaFilmeUtilizator && coduriFilmeFavorite" class="row m-3">
  <div class="col-md-3 mt-5">
    <img mat-card-image class="w-100" [src]=filmSelectatWikiData.urlImagine [alt]="filmSelectatWikiData.titlu + ' imagine'">
  </div>

  <div class="col-md-4">
    <h1>
      <span class="fw-bold">{{filmSelectatWikiData.titlu}}</span>
      <span> ({{filmSelectatWikiData.anAparitie}})</span>
    </h1>
    <div class="mb-2">
      <app-movie-genre-list [film]="filmSelectatWikiData"></app-movie-genre-list>
    </div>
    <div class="mb-2">
      <mat-chip color="accent" selected>{{filmSelectatWikiData.scorReview}}</mat-chip>
    </div>
    <div>
      {{filmSelectatWikiData.descriere}}
    </div>

    <div class="edit-details mt-5">
      <app-favorite-button (statusFavoritChange)="getFilmeleUtilizatoruluiCurent()"
                           [filmCurent]="filmSelectatWikiData"
                           [coduriFilmeFavorite]="coduriFilmeFavorite">
      </app-favorite-button>
      <br>
      <app-status-dropdown [filmUtilizator]="filmUtilizator"
                           (statusFavoritChange)="getFilmeleUtilizatoruluiCurent()">

      </app-status-dropdown>
      <br>
      <mat-form-field appearance="fill" class="mt-3">
        <mat-label>Movie score: </mat-label>
        <mat-select [(value)]="filmUtilizator.notaFilm" (selectionChange)="onNotaChange($event)">
          <mat-option *ngFor="let option of optiuniNote" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="col-md-2">
    <h2>Actors: </h2>
    <ul class="list-group list">
      <li class="list-group-item" *ngFor="let actor of filmSelectatWikiData.actori">{{actor.numeActor}}</li>
    </ul>
  </div>

</div>




